body {
    
    background-color: white;
    text-align: center;
    margin: 0px;
    overflow: hidden;
}

.body1 {
    background-color: white;
    margin-top: 50px;
    text-align: center;
    font-size: 80px;
    color: black;
}

.body2 {
    background-color: white;
    text-align: center;
    font-size: 50px;
    color: black;
}

.header {
    background-color: black;
    text-align: center;
    font-size: 100px;
    color: white;   
}

button {
    margin: 15px;
    height: auto;
    width: auto;
    background-color: black;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    font-size: 50px;
    color: white;
}

button:hover{
    background-color: rgba(0, 0, 0, 0);
    color: black;
}